body{
  background-color:rgba(136, 120,170, 0.3);
  background-image: url(../images/tim-gouw-KigTvXqetXA-unsplash.jpg);
  background-size: 100%;
}

.link {
  color: lightsalmon;
  font-size: 15px;
  text-decoration: none;
  padding: 1px;
  margin: 2px;
  display:inline-block

}
a:hover{
  color: magenta;
  background-color: mediumorchid;
}
i{
  color: cornsilk;
 height: 50%;
}

#footer div {
  
  width: 300px;
 /* height: 50px;*/
 color: white;
 
  }
   #footer {
      width: 40%;
     /* height: 100px;*/
     /* border: 2px solid white;*/
    left: 5%;
    top: 50%;
     position:absolute;
     box-sizing:border-box;
     border: 100px solid transparent;
     padding:0%;
     
     height: 50%;
  }
  #footer  strong{
      color: turquoise;
 }
#footer .borderimg2{
  background-color: rgb(145, 145, 138);
}
  #header {
    width: 100%;
    /*border: 2px solid white;*/
   display: flex;
  justify-content: center;
  position:absolute;
  color: rgb(232, 232, 241,0.9);
  padding-bottom: 10px;
  border-image: url(../images/border\ \(1\).jpg) 20% round;
  
  
  }
  #header  strong {
    background-color: rgb(145, 145, 138);
width: 100%;
  }
  #header div {
  
    width: 1000px;
    height: 10px;
   color: white;
   font-size: 100%;
   text-align: center;
   max-width: 100%;
   margin:10%;
   
    } 
    h1 {
      width: 1000px;
      display: flex;
       justify-content:center;
       position:absolute;
       text-align: center;
       
    }
   
    #borderimg1 {
      border: 10px solid transparent;
      padding: 15px;
      border-image: url(../images/border\ \(1\).jpg) 20%;
      
    }    
    .borderimg2 {
      border: 50px solid transparent;
      padding: 55px;
      border-image: url(../images/kisspng-child-cartoon-clip-art-cute-cartoon-kids-frame-5a6d351c750281.9174176315171064604793.jpg) 150 round;
    } 
    div #emplacement #carte {
      width: 400%; 
    


    }

 H2 {
      width: 100%;
     display: flex;
     justify-content: center;
    top: 55%;
    position:absolute;
     left: 30%;
     color: cornsilk;
    }
    #emplacement  {
      width: 10%;
     display: flex;
      justify-content:center;
       
      border: 2px solid white;
    left: 74%;
    top: 68%;
      position:absolute;
     /* box-sizing:border-box;*/
     /* border: 100px solid transparent;*/
     /* padding:0%;*/
    /*  height: 100%;*/
    }

    
  
.joie {
  left: 10%;
   position:absolute;
   color: ivory;
   
}
 .fort {
  bottom: 100%; 
  left: 500%;
  width: 10%;
}
.logo {
  font-size: 1.5rem;
  color: white;
}

/*barre de nav*/
.container {
  overflow: hidden;
  /*padding: 1rem;
  margin: 0 auto;
  width: 100px;
  margin: 0 auto;/*centrer */
}
.container a{
  float: left;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
.selected {
  font-weight: bold;
  background-color: rgba(0,0,0,0.3);
  text-decoration: none;
}